
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^donate$ "https\:\/\/milaap\.org\/fundraisers\/support\-mavericks\-racing\-1\?utm_source\=whatsapp\&utm_medium\=fundraisers\-title\&mlp_referrer_id\=2339354" [R=301,L]
